.greet-cards p{
    color: #9fa0a0;
}
.greet-cards span{
 background: -webkit-linear-gradient(16deg, #be4bdb 5%, #9775fa);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.result::-webkit-scrollbar{
    display: none;
    
}
jdue p{
    line-height: 2.5;
    width: 90%;
}
jdue p b{
   color: #67dfff;
}
jdue p h2{
   color: 	#b581fe;
}