.greet-cards p{
    color: #c4c7c5;
}
.greet-cards span{
 background: -webkit-linear-gradient(16deg, #be4bdb 5%, #9775fa);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.result-data p::-webkit-scrollbar{
    display: none;
    
}
.result-data p{
    
}